.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block; 
    text-align: left;
}

.form-control {
    display: block;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 15px; 
}

.btn {
    border-radius: 5px;
}

body {
    background-color: orange;
}