*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

venv/
.env/
.venv/
ENV/
env/
*.env

*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/

*.sql
*.dump

.vscode/

Thumbs.db
ehthumbs.db


.coverage
.coverage.*


*/migrations/*
!*/migrations/__init__.py

.pytest_cache/

.env

local_settings.py
